<link rel="stylesheet" type="text/css" href="/style.css" />
<footer class="footer">
    Homework 4.
    <!-- <a href="/">Posts </a>
    <a href="/addnewpost">Add new post</a>
    <a href="/singlepost">Singlepost</a> -->
</footer>
