<nav class="navbar">
  <div class="upperNav">
    <div>
      <img class="calenderImg" src="/calendar-icon.png" alt="Calendar icon" />
    </div>
    <div class="search-container">
      <input type="text" />
      <button>Search</button>
    </div>
    <div>
      <img class="userImg" type="image" src="/account.png" alt="user" />
    </div>
  </div>
  <div class="lowerNav">
    <a href="/">Posts</a><a href="/addnewpost">Add new post</a>
  </div>
</nav>
