<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>Posts</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="page">
      <div class="side"></div>
      <div class="middle">
        <a href="/singlepost">
        <div class="post">
          <div class="post-top"> <img src="account.png" alt="Account profile"> <div> Sep 18, 2020 13:15 </div></div>
          <div class="post-image"> <img src="rauno.png" alt="Rauno"></div>
          <br>
          Rauno Heinla Deadlifted 1036 pounds
          <div class="like_button"> 
            <button ><img src="likebutton.jpg" alt="Account profile" class="likeimage"></button> 
          </div>
      </div> 
      </div>
    </a>
      <div class="side"></div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
