

.page {
  display: flex;
  height: fit-content;
  margin-top: 10px;
}

.side {
  background-color: cornflowerblue;
  width: 30%;
  height: 600px;
}

.middle {
  background-color: white;
  width: 40%;
  height: 600px;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.upperNav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lowerNav {
    display: flex;
    flex-direction: row;
}

.navbar div {
  height: 35px;
  flex-grow: 5;
  padding: 5px;
}

.calenderImg {
  width: 40px;
  display: flex;
  justify-content: flex-start;
}
.userImg {
  margin-left: 300px;
  width: 40px;
  display: flex;
  justify-content: flex-start;
}

.search-container {
  display: flex;
}

.search-container > input {
  box-sizing: border-box;
  height: 30px;
  width: 75%;
  margin: 0;
  padding: 5px;
  border: 1px solid #1778bd;
}
.search-container > button {
  height: 30px;
  width: 25%;
  margin: 0;
  padding: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #1778bd;
  background-color: #1778bd;
  font-size: 14px;
  font-weight: bold;
  color: white;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
.search-container button:hover {
  background-color: skyblue;
}

.newPost {
  height: 300px;
  width: 500px;
  margin: 20px auto;
  background-color: violet;

}




.post{
  margin: 20px auto;
  border: 1px solid darkgray;
  border-radius: 5%;
  width: 70%;
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 5px 5px 5px 5px gray;
}
.post-top{
  display: flex;
  justify-content: space-between;
  height: 30px;
  font-weight: normal;
  color: gray;
  font-size: 15px;
}
.post-image{
  display: flex;
  justify-content: center;
  height: 350px;
  padding-top: 10px;
  overflow: hidden;
}

.like_button button{
  border: none;
  padding: 5px;
  background-color: white;
  margin-top: 10px;
}
.like_button button:hover{
  background-color: skyblue;
}
.likeimage {
  width: 30px;
  height: 30px;
}

.errorPage {
  height: 400px;
}

.error {
  height: fit-content;
  width: fit-content;
  margin: 20px auto;
  font-size: 30px;
}
